<li>
    #{{id}}
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-new-devoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Regurgitate & Re-assemble!!!{{/if}}
	</button>

</li>